* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px;
  border: 1px solid #333;
  border-radius: 4px;
}

.input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

input:invalid,
select:invalid {
  /* border: 1px solid red; */
  border-radius: 2px;
}

input:required {
  border: 1px solid black;
}

input:valid,
select:valid {
  /* border: 1px solid green; */
  /* border-radius: 2px; */
}

.err-msg {
  position: absolute;
  bottom: -14px;
  left: 5px;
  text-wrap: nowrap;
  font-size: 12px;
  text-overflow: ellipsis;
  color: red;
}
